//// general ////
body {
  background-color: #c9d6fe !important;
}
.backdrop {
  background-color: white;
  padding-left: 50px !important;
  padding-right: 50px !important;
}
#brand {
  color: white;
  font-family: "Handlee";
}
#brand:hover, #brand:focus {
  background-color: #454545 !important;
}
//// index ////
#brand:hover {
  background-color: #f2f2f2;
}
.index_sample {
  border: 2px solid #918d8d;
  margin-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  color: black;
}
.index_sample:hover {
  border: 2px solid black;
}
.title {
  font-weight: bold;
}
.nav_text_padding {
  padding-top: 15px;
  padding-bottom: 15px;
}
.empty_space {
  padding-left: 15px;
  padding-right: 15px;
  color: transparent;
}

//// search ////
.search_title {
  margin-bottom: 0px;
}
