.comments_section {
  border: 2px solid black;
  width: 60%;
}

.comment_margin {
  margin-bottom: 0px;
}

.comment_hr {
  margin-top: 0px;
  margin-bottom: 2px;
}

.comment_bottom_hr {
  margin-top: 0px;
}

.red {
  color: red;
}
